
.forgot-password {
  background-image: url('../assets/hoaback2.png'); 
  background-repeat: no-repeat;
  background-size: cover; 
}
.forgot-password form {
  background-color: #ffffff;
  margin: 60px 200px;
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

}

.forgot-password h2 {
  font-size: 28px;
  color: black;
  margin-bottom: 40px;
  font-weight: 600;
}
  

  .forgot-password label {
    font-size: 16px;
    color: #666;
    display: block;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .forgot-password input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .forgot-password input:focus {
    border-color: #FFC0CB;
  }

  .forgot-password button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(135deg, #ffafbd 0%, #FFC0CB 100%);

    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .forgot-password button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  

.page-container {
  display: flex;
  flex-direction: column;
}


.content-wrapper {
  flex-grow: 1;
}

/* Footer Styling */
.footer {
  text-align: center;
  color: #333;
  width: 100%;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .forgot-password form {
    margin: 20px;
    padding: 30px 40px;
  }

  .forgot-password h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .forgot-password input,
  .forgot-password button {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .forgot-password form {
    margin: 10px;
    padding: 20px;
  }

  .forgot-password h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .forgot-password input,
  .forgot-password button {
    font-size: 14px;
    padding: 10px;
  }
}
