.feedback-section {
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .feedback-section h3 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #2d3e50;
  }
  
  .feedback-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .feedback-item p {
    margin: 0;
    font-size: 20px;
    color: #2d3e50;
  }
  /* Nút hiện thêm feedback*/
  .see-more-btn {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #FFC0CB; /* Primary blue color */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .see-more-btn:hover {
    background-color: #FFC0CB; /* Darker shade on hover */
  }
  
  .see-more-btn:active {
    background-color: #FFC0CB; /* Even darker shade when clicked */
  }
  